apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: amigospremia-api
  namespace: apps
  labels:
    app.kubernetes.io/name: amigospremia-api
    app.kubernetes.io/part-of: amigospremia
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: amigospremia-api
  minReplicas: 3
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
