architecture: standalone

auth:
  enabled: true
  password: redispassword

master:
  persistence:
    enabled: true
    storageClass: longhorn
    size: 5Gi

metrics:
  enabled: true
  serviceMonitor:
    enabled: true
    namespace: monitoring
    additionalLabels:
      release: kp
